body{
  margin-top:50px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p, footer, li{
  font-family:Roboto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}


.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
  padding: 20px;
}

.navbar-brand{
  font-size:40px;
  color:#000 !important;
  font-weight:bold;
}

#showcase {
  padding:40px;
}

#showcase .showcase-left {
  margin-bottom: 50px;
}

#showcase .showcase-right{
  margin-top: 30px;
  /* background-image:url("../img/home.jpg");
  background-size: auto; */
}

#showcase h1{
  font-size:30px;
}

#showcase h3{
  font-size:20px;
  color: #333;
}

#showcase .options{
  margin-left: 0;
}



#experience{
  /* background:#f1f1f1; */
  padding: 40px;
  text-align:left;
}

#experience .row {
  margin-top: 20px;
}

#experience .col-sm-4 {
  text-align: center;
  padding: 10px;
}

#experience img{
  object-fit: contain;
  width: 120px;
  height: 120px;
}

#experience p{
  font-size:15px;
  font-family: 'Josefin Sans';
}



#projects {
  padding: 40px;
}

#projects .row{
  margin-top: 20px;
}

#projects img:hover{
  filter: blur(3px);
}

#projects img{
  /* width: 80%; */
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}



#education {
  padding: 40px;
}

#education .row {
  margin-top: 20px;
}

#education img{
  object-fit: contain;
  width: 120px;
  height: 140px;
}

#education .col-md-6, .col-sm-6 {
  padding: 10px;
}


#more{
  padding: 40px;
}

#more p{
  margin-top: 20px;
}

#more .h4 {
  font-size: 20px;
}



#contact{
  background:url(../img/image6.jpg);
  background-position: center 35%;
  padding:40px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
}

#contact a{
  color: #fff;
  padding: 2px;
}

footer{
  padding:30px;
}



/* content pages */
#page-content {
  padding: 30px;
}

#page-content img {
  padding-bottom: 10px;
}

#page-content a {
  font-weight: bold;
}

#page-content .content-margin {
  margin-top: 25px;
}

#page-content .grid-container {
  margin: auto;
  grid-gap: 10px;
  column-count: 1;
}

#page-content #photos {
  margin-top: 10px;
}





/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #showcase .options {
    margin-left: 230px;
  }
  #page-content .grid-container {
    column-count: 1;
    margin: 0 10% 20px 10%;
  }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #page-content .container {
    max-width: 800px;
    margin: auto;
  }
  #page-content .grid-container {
    column-count: 2;
    max-width: 800px;
    margin: auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    margin-top:100px;
  }
  /* #page-content .grid-container {
    column-count: 3;
    max-width: 700px;
    margin: auto;
  } */
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
